{% extends 'Xif6NewsrssBundle::layout.html.twig' %}

{% block container %}
    <a href="{{ path('xif6_newsrss_flux', { 'id': flux.id, 'slug': flux.slug }) }}">{{ flux.name }}</a>
    <br>
    <a href="{{ flux.url }}">RSS</a>
    <br>
    {{ flux.description }}
    <ul>
        {% for category in flux.categories %}
            <li>
                <a href="{{ path('xif6_newsrss_category', { 'id': category.id, 'path': category.path, '_format': 'html' }) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for siteFlux in flux.site.flux %}
            {% if flux.id != siteFlux.id %}
                <li>
                    <a href="{{ path('xif6_newsrss_flux', { 'id': siteFlux.id, 'slug': siteFlux.slug }) }}">{{ siteFlux.id }} {{ siteFlux.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {{ render(path('xif6_newsrss_item', { 'id': flux.id, 'type': 'default' })) }}
{% endblock %}
