{% extends 'Xif6NewsrssBundle::layout.html.twig' %}

{% block container %}
    <a href="{{ path('xif6_newsrss_flux', { 'id': flux.id, 'slug': flux.slug }) }}">{{ flux.name }}</a>
    <br>
    {#{ dump(flux.site) }#}
    {#{ dump(flux.categories) }#}
    <ul>
        {% for category in flux.categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <ul>
        {#{ dump(flux.site.flux) }#}
        {% for siteFlux in flux.site.flux %}
            {% if flux.id != siteFlux.id %}
                <li>
                    <a href="{{ path('xif6_newsrss_flux', { 'id': siteFlux.id, 'slug': siteFlux.slug }) }}">{{ siteFlux.id }} {{ siteFlux.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ol>
        {#% for item in flux.items %}
            {#{ dump(item) }# }
            <li>
                {{ item.title }} -
                {% if item.date %}
                    {{ item.date|date('c') }}
                {% endif %}
            </li>
        {% endfor %#}
    </ol>

    {{ render(path('xif6_newsrss_flux_items', { 'id': flux.id, 'type': 'default', '_format': 'html' })) }}
{% endblock %}
