{% extends 'NewsrssBundle::layout.html.twig' %}

{% block body %}
    <div class="container-fluid" ng-app="userApp" ng-controller="IndexCtrl">
        {% verbatim %}
    <button class="btn btn-default btn-xs" ng-click="update()">
        <span class="material-icons rotate">refresh</span>
        Refresh All
    </button>
    <div class="col-fluid col-fluid-xl-4 col-fluid-lg-3 col-fluid-md-2 col-fluid-sm-1">
        <div ng-repeat="flux in fluxes" class="panel panel-{{ flux.style || 'default' }} col-fluid-cell" ng-class="" id="id-{{ flux.flux.id }}">
            <div class="panel-heading">
                <a href="{{ flux.flux.site.url }}" target="_blank">{{ flux.flux.name }}</a>
                <div class="pull-right">
                    <a class="material-icons rotate" ng-click="updateOne(flux.flux.id)">refresh</a>
                    <a class="material-icons" href="{{ flux.flux.url }}" target="_blank">rss_feed</a>
                </div>
            </div>
            <div class="panel-body">
                <div ng-repeat="item in items['flux_' + flux.flux.id]" ng-class="separateDate(item.date, items['flux_' + flux.flux.id][$index - 1].date)">
                    <a href="{{ item.url }}" target="_blank"><span ng-class="today(item.date)">{{ item.date | date : 'dd/MM HH:mm' }} : </span>{{ item.title }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
    </div>
    {#
    <div class="container-fluid" ng-app="userApp" ng-controller="IndexCtrl">
        {% verbatim %}
        <div class="row">
            <div ng-repeat="flux in fluxes" class="col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ flux.name }}</div>
                    <div class="panel-body">
                        <div ng-repeat="item in items['flux_' + flux.id]">
                            <a href="{{ item.url }}">{{ item.date | date : 'dd/MM HH:mm' }} : {{ item.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>
    #}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        userAppCfg = {
            url: {
                items: '{{ path('newsrss_user_items') }}',
                item: '{{ path('newsrss_user_item', {fluxId: 0}) }}',
                fluxes: '{{ path('newsrss_user_fluxes') }}'
            }
        };
    </script>

{% endblock %}
