{% extends 'Xif6NewsrssBundle::layout.html.twig' %}

{% block container %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('xif6_newsrss_category', { 'id': category.id, 'path': category.path }) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for flux in fluxes %}
            <li>
                <a href="{{ path('xif6_newsrss_flux', { 'id': flux.id, 'slug': flux.slug }) }}">{{ flux.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {{ knp_pagination_render(fluxes) }}
{% endblock %}
